* , *::before, *::after { box-sizing: inherit; }

:root {
    --mobile-menubar-height: 30px;
    --logo-height: 40px;
    --header-height: 50px;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  /*
  overflow: hidden;
  */
}

.logo {
  margin: 0;
  padding: 0;
}


/*
.logo a{
  font-size: 2rem;
  color: midnightblue;
}
*/

.logo img:hover{
    background: var(--base-darkest);
    box-shadow: 0px 0px 3px 3px var(--base-darkest);
}

.logo img {
    max-height: var(--logo-height);
    padding: 0;
    margin: 5px;
}

.header {
    /*
  background: lightgrey;
  background: linear-gradient(0deg, lightgrey, grey);
  border-bottom: .5px solid lightgrey;
  */
  width: 100%;
  overflow: hidden;
  top: 0;
  position: fixed;

  background: var(--base-dark);
  display: flex;
  margin: 0;
  padding: 0;
  height: var(--header-height);
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0px 2.9px 1px black;
  z-index: 4;
}

.header a {
    text-decoration: none;
}

.navbar {
  /*
  */
  display: flex;
  margin: 0;
  padding: 0;
  width: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*
 .navbar .category {
    background: aliceblue;
}
*/

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  font-size: 1.2rem;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
}


.navbar .category:hover {
    background: white;
    box-shadow: inset 0px 0px 7px grey;
    border-bottom: 1px solid var(--base-dark);
    color: var(--font-color);
}

.navbar a {
    color: var(--bg-color);
}

/*
.navbar li:hover {
background: royalblue;
}
.navbar li:hover > a {
color: midnightblue;
}

*/

/*===============
 media queries
 ================ */

/*desktops*/
@media screen and (min-width: 801px) {
    .hamburger-container {
        visibility: hidden;
    }
    .toggler {
        visibility: hidden;
    }
    .overlay {
        visibility: hidden;
    }
}

/*tablets*/
@media screen and (max-width: 800px) and (min-width: 414px) {
    .navbar-container{
        visibility: hidden;    
    }
    .newsimage {
        max-width: 80vw;
        height: auto;
    }
    img {
        max-width: 80vw;
        height: auto;
    }
    .content {
        max-width: 90vw;
        min-width: 70vw;
        padding-left: 0em;
        padding-right: 0em;
    }

  .content h1 {
    font-size: 1.6em;
  }
  .content h2 {
    font-size: 1.3em;
  }
  .content h3 {
    font-size: 1.15em;
  }
  .content p {
    font-size: 1em;
  }
  .content-container {
    padding-left: 0em;
  }
}

@media screen and (max-width: 414px) {

    .content-container {
        margin-top: 0;
    }
    .content-container .content > h1 {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 0.4em;
        margin-top: 0.3em;
        /*
        margin-left: 7vw; 
        margin-right: 7vw; 
        */
    }
    .content-container .content > p {
        text-align: center;
    }
    .content-container .content > p {
        /*
        margin-left: 7vw;
        margin-right: 7vw;
        */
    }

    .navbar-container{
        visibility: hidden;    
    }
    .newsimage {
        max-width: 80vw;
        height: auto;
    }
    img {
        max-width: 70vw;
        height: auto;
    }

  .content-container {
      padding-left: 0em;
  }
.content {
  max-width: 90vw;
  min-width: 70vw;
  
  padding-left: 0em;
  padding-right: 0em;
}
.content h1 {
  font-size: 1.4em;
}
  .content h2 {
    font-size: 1.2em;
  }
  .content h3 {
    font-size: 1.15em;
  }
    .content p {
      font-size: .8em;
    }
    :root {
        --header-height: 50px;
    }
}
/*
@media screen and (max-width: 800px) {
    .navbar-container {
      display: flex;
      background: grey;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .header {
      flex-direction: column;
      align-items: center;
    }
    .hamburger-container {
        visibility: hidden;
    }
    .navbar {
        height: var( --mobile-menubar-height);
        visibility: hidden;
    }
}

*/

/*
@media screen and (max-width: 450px) {
    .navbar-container {
      display: flex;
      background: grey;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .header {
      flex-direction: column;
      align-items: center;
    }
    .hamburger-container {
        visibility: visible;
    }
    .navbar {
        visibility: hidden;
        height: var( --mobile-menubar-height);
    }
}
*/
