html {
    overflow-x: hidden
}

  .menubar {
    background: lightgrey; 
    /*
    height: 50px;
    */
    height: 50px;
    margin: 0;
    padding: 0;
    position: relative;
    box-shadow: 0 3px 5px 5px black;
  } 

/* Images */
  .menubar img {
      /*
    height: 50px;
    */
    height: 30px;
  }
  img {
    height: 400px;
    width: auto;
  }
  .newsimage {
    height: 800px;
  }

  .content img {
        max-width: 80vw;
        max-height: 500px;
  }

  .blog {
    display: flex;
    flex-direction: column;
  }

  .blog h1 {
      font-size: 1.8em;
  }
  .blog_entrie {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 1px 1px 1px 1px lightgrey;
    border-radius: 5px; 
    min-height: 250px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
  }

  .content {
    padding-left: 4em;
    margin-bottom: 10em;
  }


  .menubar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .spacer {
    height: 200px;
  }

  .menubar li {
    float: left;
    height: 50px;
  }

  /*
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
*/
  .menubar li a {
    color: Black;
    text-align: center;
    height: 50px;
    /*
    padding: 0em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    */
    padding: 14px 16px;
    text-decoration: none;
    vertical-align: middle;
  }
  .menubar li a:hover {
    background: ghostwhite;
  }

  .menubar li:hover {
  }
  .content {
    width: 60vw;
    background: var(--bg-color);
    margin: 0;
    padding: 0;
    padding-top: 30px
  }
  .content-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
  }

  body {
    margin: 0;
    padding: 0;
  }

