html {
    overflow-x: hidden
}


/* Images */
  img {
    height: 400px;
    width: auto;
  }
  .newsimage {
    height: 800px;
  }

  .content img {
        max-width: 80vw;
        max-height: 500px;
  }

  .blog {
    display: flex;
    flex-direction: column;
  }

  .blog h1 {
      font-size: 1.8em;
  }
  .blog_entrie {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 1px 1px 1px 1px lightgrey;
    border-radius: 5px; 
    min-height: 250px;
  }

  .content-container {
  }

  .content {
    margin-bottom: 10em;
  }


  .menubar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .spacer {
    height: 200px;
    width: 100%;
  }

  .menubar li {
    float: left;
    height: 50px;
  }

  /*
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
*/
  .menubar li a {
    color: Black;
    text-align: center;
    height: 50px;
    /*
    padding: 0em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    */
    padding: 14px 16px;
    text-decoration: none;
    vertical-align: middle;
  }
  .menubar li a:hover {
    background: ghostwhite;
  }

  .menubar li:hover {
  }

  .page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: var(--header-height);
  }

  .content {
    max-width: 90vw;
    min-width: 40vw;
    /*
    width: 1000px;
    background: var(--bg-color);
    margin: 0;
    padding: 0;
    padding-top: 30px
     * */
  }

  .content ul {
      margin-left: 2em;
  }
  .content h1,
  .content h2,
  .content h3 {
      margin-top: 0.3em;
      margin-bottom: 0.3em;
  }


  .panel-left {
    width: 100%;
    height: auto;
    margin: 0
  }
  .panel-right {
    width: 100%;
    height: auto;
  }

  .content-container {
    margin-top: 2em;
    /*
    display: flex;
    flex-direction: column;
    padding-left: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    */
  }

  body {
    margin: 0;
    padding: 0;
  }

