<div class="mobilemenu">

  <!-- .toggler has to be the first child of class mobilemenu!! -->
  <input type="checkbox" class="toggler" id="toggler">
  <div class="hamburger-container">
    <div class="hamburger">
      <div class="hamburger-icon"></div>
    </div>
  </div>

  <div class="overlay"></div>

  <div class="slider-container">
    <div class="slider">
      <ul class="side-menu">
        <li><h4>Menü</h4></li>
        {% include 'entry_list.html' %}
      </ul>
    </div>
  </div>

</div>
