html {
    overflow-x: hidden
}

  .menubar {
    background: salmon; 
    /*
    height: 50px;
    */
    height: 50px;
    margin: 0;
    padding: 0;
    position: relative;
  } 

  .menubar img {
      /*
    height: 50px;
    */
    height: 30px;
  }

  img {
    height: 400px;
    width: auto;
  }
  .newsimage {
    height: 800px;
  }

  .content {
    padding-left: 4em;
  }

  .menubar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .menubar li {
    float: left;
    height: 50px;
  }
  /*
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
*/
  .menubar li a {
    color: Black;
    text-align: center;
    height: 50px;
    /*
    padding: 0em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    */
    padding: 14px 16px;
    text-decoration: none;
    vertical-align: middle;
  }
  .menubar li a:hover {
    background: ghostwhite;
  }

  .menubar li:hover {
  }
  .content {
    width: 60vw;
    background: beige;
    margin: 0;
    padding: 0;
    padding-top: 30px
  }
  .content-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: honeydew;
  }

  body {
    margin: 0;
    padding: 0;
  }

